*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    border: 3px solid #608E37;
    border-collapse: separate;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

td, th{
    border: 1px solid #608E37;
    width: 200px;
    padding: 10px;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 20px #608E37;

    background-color: #98FB98;

    width: 100%;
    height: 70px;
    padding: 10px;
    align-items: center;

    flex-wrap: wrap
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d7fad7;
};

.logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

footer{
    margin-top: auto;
    background-color: #4A722C;
    text-align: center;
}

footer p{
    padding: 16px;
    color: white;
}
.img_logo{
    width: 110px;
    height: auto;
    margin: -15px 0px 0px 0px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    height: 800px;
}

.refeicoes{
    position: relative;
    bottom:250px
}

caption{
    color: gray;
    text-align: center;
}

.formulario{
    position: relative;
    bottom: 241px;
    width: 700px;
    height: 220px;
}

.formulario td {
    position: relative;
    border: 0px;
}

.button_enviar {
    width: 150px;
    height: 30px;
    border-radius: 10px;
}
.button_reset{
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

.button {
    position: relative;
    left: 150px;
}

.meta{
    border-style: solid;
    border-color: #608E37;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    width: 900px;
    position: relative;
    bottom: 500px;
    left: 430px;
}